<html>
    <body>
        <form method="POST" action="/submit" name="submitttt">
            <textarea id="urls" name="urls" placeholder="Page URLs"></textarea>
            <button type="submit">Submit</button>
        </form> 
        <a href="/download">Download zip from last time</a>
    </body>
</html>